body {background-color: black;
	}

#umbrella {position: fixed;
top: 200px;
left: 980px;
width: 100px;
height: 125px;
background-image: url('images/umbrellas.gif');
background-repeat: no-repeat;
}

#rain {position: fixed;
	top:0px;
	left:704px;
	width:376px;
	height:600px;
	background-image: url('images/rain.gif');
	background-repeat: repeat-x;
	
	}

#menu {position:fixed;
	top:0px;
	left:620px;
	margin-top:2px;
	}
#menu a {text-decoration:none;
	}
	
#menu a:hover {color: white;}
	
#menu p {float:left;}
	

#about a {color:#ff1800;}

#portfolio a{color:#0090ff;}

#CV a{color:#8a00ff;}

#contact a{color:#8aff00;}	

#blog a{color:#ffff00;}
	
#about  {color:#ff1800;
		margin:0px 10px 0px 0px;}

#portfolio {color:#0090ff;
		margin:0px 10px 0px 0px;}

#CV {color:#8a00ff;
	margin:3px 10px 0px 0px;}

#contact {color:#8aff00;
		margin:0px 10px 0px 0px;}

#blog {color:#ffff00;
		margin:0px 10px 0px 0px;}
		
#title {position:fixed;
	bottom:0px;
	left:0px;
	margin: 0px;}
	
#title h2 {color:#ff1800;
	margin:0px;}
	
#contenta {position:absolute;
	top:2px;
	left:65px;
	width: 420px;
	color:#a1b9ff;
	font-family:"Times New Roman";
	}

#contenta a {text-decoration:none;
	color:#ff1800;}
	

#contenta a:hover {color:white;}

#contentp a {text-decoration:none;
	color:#0090ff;}
	
#contentp a:hover {color:white;}


#contentp {
	position:absolute;
	top:0px;
	left:-2000px;
	width: 400px;
	color:#8a00ff;}
	
#contentp h2 {margin-top:9px;}

#contentc {
	
	position:absolute;
	top:0px;
	left:-2000px;
	width: 430px;
	color:#a1b9ff;
	font-family:"Times New Roman";}

#contentc a {text-decoration:none;
	color:#8a00ff;}
	
#contentc a:hover {color:white;}

#contentt {
	position:absolute;
	top:0px;
	left:-2000px;
	width: 400px;
	color:#8aff00;
	font-size: 1.5em;
	text-align: center;}

#contentb {
	position:absolute;
	top:0px;
	left:-2000px;
	width: 400px;
	color:#ffff00;
	font-size: 1.5em;
	text-align: center;}

#contentb a:hover {color:white;}
#contentb a:visited {color:#ffff00;}

#dld {position:absolute;
	top:3px;
	left:400px;
	}

#edu {position:absolute;
	top:3px;}

#emp {position:absolute;
	top:235px;}

#rse {position:absolute;
	top:565px;}

#ski {position:absolute;
	top:835px;}

#hon {position:absolute;
	top:1400px;}
	
	#edut {position:absolute;
		top:3px;}

	#empt {position:absolute;
		top:235px;}

	#rset {position:absolute;
		top:565px;}

	#skit {position:absolute;
		top:835px;}

	#hont {position:absolute;
		top:1400px;}

.cat {position:absolute;
	left:445px;
	color:#8a00ff;
	margin: 0px;}
	
.bld {float:left;
	color:#8a00ff;
	margin: 0px 0px 0px 0px;}
	
.con {float:left;
	margin: 7px 0px 30px 0px;}
	
.conp {margin: 7px 0px 20px 0px;}
	
.img {margin:20px 0px 0px 0px;}

#footer {position:fixed;
	bottom:0px;
	left:620px;
	color:white;
	font-size:0.8em;}
	
/* Slide Show css*/

#slidecontainer { position: absolute; top: 40px}
#nav { margin: 0; padding: 0; overflow: hidden; position:absolute; left: -2000px; top:480px; z-index: 4;width: 510px; }
#nav li {list-style: none; float: left; margin: 0px; padding: 1px; background: #0090FF;}

#nav li img { cursor: pointer; display: block; width: 49px; height: 49px;}
#thumbs {width: 511px}
.cell {width: 510px; height: 270px; z-index: 2 }
#controlcell {position: absolute; }
#navcell {position: absolute; top: 240px;}
#commoncell {position: absolute; top: 235px; width: 510px; height: 50px; z-index: 3;}
#cycle { margin: 10px 0px 0px 0px; padding: 0px; width: 510px; height: 510px; background: #0090FF;  position: relative; z-index:3}

#cycle li {list-style: none; margin: 0px ; padding: 0px;  overflow: hidden; display: none;}
#cycle img {margin: 0px; padding: 0px; display:block;}


.button {cursor: pointer; width:40px; height: 40px; top: 30px ; z-index: 4;}
#prev {position: absolute; left: -2000px;}
#next {position: absolute;  left: -2000px;}
#toggle {position: absolute; left: -2000px ; opacity: 0.8; filter:alpha(opacity=80);}
#showButton {position:absolute; left: 235px; top: 270px;}

#container {position: absolute;}
body { behavior:url("csshover.htc"); }


	

	
